<div class="container">
  <h2>polar task</h2>
  <div>
    <h4>stand point</h4>
    <div *ngIf="standPoint" >
      <label class="mr-2">number
        <input #searchBox
               [(ngModel)]="standPoint.number"
               placeholder="stand point number"
               (input)="searchPointsByName(searchBox.value)"
               [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let point of resolvedStandPoints$ | async" (click)="selectStandPoint(point)">
            <b> {{point.number }}</b>
          </mat-option>
          <mat-option *ngIf="standPoint.number"
                      value={{standPoint.number}}
                      (click)=selectStandPoint(createNewPointWithName(standPoint.number))>
            <i>{{standPoint.number}}</i>
          </mat-option>
        </mat-autocomplete>
      </label>
      <label class="mr-2">x
        <input [(ngModel)]="standPoint.x" placeholder="x"/>
      </label>
      <label class="mr-2">y
        <input [(ngModel)]="standPoint.y" placeholder="y"/>
      </label>
    </div>
  </div>

  <div>
    <form [formGroup]="taskForm">
      <table class="table">
        <thead>
        <th scope="col">#</th>
        <th scope="col">reference</th>
        <th scope="col">target</th>
        <th scope="col">direction</th>
        <th scope="col">distance</th>
        <th scope="col">x</th>
        <th scope="col">y</th>
        <th scope="col"></th>
        </thead>
        <tbody formArrayName="observations" *ngFor="let group of getFormData.controls; let i=index">
        <tr [formGroupName]="i">
          <td> {{i}}</td>
          <td class="form-group">
            <input
              type="checkbox"
              class="form-control-lg"
              formControlName="reference">
          </td>
          <td class="form-group">
            <input
              class="form-control"
              formControlName="targetNumber"
              placeholder="point number">
            <span
              class="text-danger"
              *ngIf="group.get('targetNumber').touched && group.get('targetNumber')?.hasError('required')">
              invalid data format
            </span>
          </td>
          <td class="form-group">
            <input
              class="form-control"
              formControlName="direction"
              placeholder="direction">
            <span
              class="text-danger"
              *ngIf="group.get('direction').touched && group.get('direction')?.hasError('pattern')">
              invalid data format
            </span>
          </td>
          <td class="form-group">
            <input
              class="form-control"
              formControlName="distance"
              placeholder="distance">
            <span
              class="text-danger"
              *ngIf="group.get('distance').touched && group.get('distance')?.hasError('pattern')">
              invalid data format
            </span>
          </td>
          <td class="form-group">
            <input
              class="form-control"
              formControlName="targetX"
              placeholder="x"
              [readonly]="!group.get('reference').value">
          </td>
          <td class="form-group">
            <input
              class="form-control"
              formControlName="targetY"
              placeholder="y"
              [readonly]="!group.get('reference').value">
          </td>
          <td>
            <button (click)="delete(i)" type="button" class="btn btn-danger btn-sm">x</button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>


  </div>

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button (click)="save()" type="button" class="btn btn-success">save</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
      <button (click)="resolveTask()" type="button" class="btn btn-success">resolve</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="third group">
      <button (click)="addNewObservations()" type="button" class="btn btn-info">add observation</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="fourth group">
      <button (click)="saveAndClose()" type="button" class="btn btn-secondary">save and close</button>
    </div>
  </div>


</div>



